*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(./assets/images/home/background-home-desktop.jpg);
    background-repeat: no-repeat;
    width: 100vw;
    overflow-x: clip;
  }
ul{
  list-style: none;
}
a{
  text-decoration: none;
}
 button{
  cursor: pointer;
} 
.home-page-header{
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding-top:0.5rem;
   }
   /* homepage link style */
.home-page-nav > li > button{
    border: none;
    max-width: 150px;
    padding-block: 1.5rem;
    letter-spacing: 1px;
    background-color: inherit;
    color: white;
    text-align: start;
}
.nav-border{
    width: 100px;
    height: 1px;
    position: absolute;
    left: 30%;
    bottom: 0;
    height: 2px;
    width: 50%;
    border-bottom: 2px solid rgb(255, 255, 255);
    display: none;
   }
.home-page-nav > li >button:hover ~ .nav-border{
    display: block;
}
.home-page-nav > li{
    position: relative;
    display: flex;
    align-items: center;
    
    gap: .5rem;
  
    padding-inline:clamp(1rem,2vw,1.2rem);
    animation: navSlide 1s ease-in-out;
 }
 .home-page-nav{
    display: flex;
    flex-direction: column;
    margin-top: 3.5rem;
 }
 
.logo{
    width: 1rem;
    aspect-ratio: 1;
    background-image: url(./assets/images/icons/logo.svg);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    padding: 2rem;

}
/* style for mobile nav */
.open-nav,.close-nav{
    display: none;
    position: absolute;
    right: 0;
    top:3%;
    width: 2rem;
    background-color: inherit;
    transform: translateX(-10%);
    aspect-ratio: 1;
    background-repeat: no-repeat;
    background-position: center;
    
}
.open-nav{
    background-image: url(./assets/images/icons/icon-hamburger.svg);
}
.close-nav{
  background-image: url(./assets/images/icons/icon-close.svg);
}
.open-nav{
    display: block;
}
.hr-line{
    display: none;
    position: relative;
    left: 1rem;
    width: 40%;
    height: 2px;
    background-color: rgb(130, 130, 130);
}
.page-links{
    background-color: hsla(0, 2%, 47%, 0.2);
}
@keyframes navSlide{
    0%{
        opacity: 0.5;
        transform: translateX(20%);
    }
    100%{
        opacity: 1;
        transform: translateX(0%);
    }
}
/* links holder for mobile nav */
[data-nav-links="true"]{
    opacity: 1;
    display: flex;
    justify-content: center;
    color: white;
    border-radius: 0.2rem;
    padding-inline: 1rem;
   }
[data-nav-links="false"]{
    opacity: 0;
    display: none;
}
/* home page main */
main{
  display: grid;
  grid-template-areas: "main";
  justify-items: center;
  color: white; 
 }
.explore-btn{
  width: 180px;
  aspect-ratio: 1;
  border-radius: 50%;
  margin: 1.5rem;
  font-size: 1.5rem;
  text-align: center;
  border: none;
  position:absolute;
  top:3%;
  left:2.5%;
}
.big-circle{
  position: relative;
  width: 250px;
  aspect-ratio: 1;
  border-radius: 50%;
 }
.big-circle:hover{
  box-shadow: 0 0 3px rgb(241 210 210 / 50%);
 }
.home-page-section{
  color: white;
  padding: 1.2rem;
}
.intro-text,.intro-par{
  font-size: 1rem;
  letter-spacing: 1.5px;
  line-height: 1.3rem;
  word-spacing: 1px;
  text-align: center;
}
.intro-title{
  padding-block: 2rem;
  font-size: 4rem;
  letter-spacing: 1px;
  text-align: center;
}
.intro-par{
  font-size: 1rem;
  text-align: justify;
  width: 100%;
}
.star{
  width: 20px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: brown;
}
.star-holder > :nth-child(1){
  position: absolute;
  bottom: 0;
  opacity: 0;
  background: linear-gradient(-45deg, #eef0f5, rgba(0, 0, 255, 0));
  filter: drop-shadow(0 0 6px #d7dff0);
  animation:  shootingStars 40s cubic-bezier(0.36, 0.55, 0.51, 0.81);
  animation-direction: alternate;
  animation-iteration-count: infinite; 
  animation-fill-mode: forwards;

}
@keyframes shootingStars{
  0% { 
   transform: translate3d(0, 0, 0); 
  }
  10%{
    opacity: 1;
 }
 100% {
   opacity: 0;
   transform: translate3d(90vw, -90vh, 0);
  }
}
/* second page (destination) style */

.current-page{
  display: flex;
  align-items: center;
  gap:0.5rem;
  padding:1rem ;
}
.link-name{
  letter-spacing: 2px;
}
.planet-info-holder,.planet-nav-holder{
  display: grid;
  grid-template-columns: 1fr;
}
/* nav buttons  */
.planet-name-nav{
  border: none;
  background-color: inherit;
  color: white;
  padding: 0.6rem;
  cursor: pointer;
 }
.planet-name-nav::after{
  display: block;
  content: '';
  border-bottom: solid 3px rgb(255, 255, 255);
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}
.planet-name-nav:hover::after{
  transform: scaleX(1);
 }
 .planet-name-nav:focus::after{
  transform: scaleX(1);
 }
 .planet-name{
  font-size: 4rem;
  text-align: center;
 }
 .planet-par{
  letter-spacing: 2px;
  max-width: 300px;
  text-align: justify;
  padding: 1rem;
 }
 .about-planet{
  text-align: justify;
 }
 .planet-info-holder{
  text-align: left;
 }
 .distance-info,.travel-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.3rem;
 }
 .planet-image{
    width: 100%;
    height: 20vh;
    padding: 1rem;
    perspective-origin:top left;
  }
 .planet{
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    animation: rotatePlanet 50s ease-in-out infinite forwards; 
    }
 @keyframes rotatePlanet{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }

 }
 /* third page style */
 .crew-name{
  font-size: 2.5rem;
  letter-spacing: 2px;
  word-spacing: 2px;
  word-wrap: break-word;
 }

.person-info{
  display: grid;
  grid-template-areas: 
  "top"
  "bottom";
  padding: 1rem;
 }
.person-detail-info{
    text-align: center;
  }
.crew-bio{
    line-height: 1.5rem;
    letter-spacing: 2px;
    word-wrap: break-word;
  }

 .slider-btn-holder{
  grid-area: top;
  display: flex;
  gap: 1rem;
  justify-content: center;
  }
 .slider-btn{
  padding: 0.5rem;
  border: none;
  aspect-ratio: 1;
  background-color: grey;
  border-radius: 50%;
 }
 .slider-btn:focus{
  background-color: white;
 }
 .person-job{
  font-size: 1.5rem;
  color:aquamarine;
 }
 /* forth and third page image holder,image has same style */
 .crew-image-holder,.techno-image-holder{
   width: 100%;
  height: 30vh;
 }  
 .crew-image,.techno-image{
    height: 100%;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
 
 }
 /*fourth page style */
.technology-info-holder{
  text-align: center;
  letter-spacing: 2px;
  line-height: 1.5rem;
  padding: 1rem;

 }
 .techno-name{
  font-size: 2rem;
 }
 .techno-image{
  width: 100%;
  height: 30vh;
  background-repeat: no-repeat;
 }
 .techno-btn{
  border: none;
  width: 2rem;
  aspect-ratio: 1;
  border-radius: 50%;
}
.techno-btn:focus{
  background-color: rgb(107, 0, 0);
}

/* media query for large screen */
@media (min-width:500px) {
  .home-page-section{
    width: 50%;
    grid-area: left;
    justify-self: start;
  }
  .btn-holder{
    grid-area: right;
  }
    .home-page-header{
         align-items: center;
    }
    .home-page-nav{
        flex-direction: row;
        align-items: center;
        margin-top: 0;
     }
    .home-page-nav > li{
        flex-direction: row;
        align-items: center;
    }
     .open-nav{
        display: none;
    }
    .hr-line{
        display: block;
    } 
    /* content main home page */
    main{
      display: grid;
      grid-template-areas:"left right";
      align-content: center;
    }
    .btn-holder{
      width: 50%;
      align-self: end;
      justify-self: left;
    }
    /* destination or second page */
    .planet-info-holder{
      display: flex;
      flex-direction: column;
      gap:2rem;
    }
    .planet-image{
      flex-grow: 0.5;
    }
    /* third page */
    /* third and fourth image holder same style */
    .crew-image-holder,.techno-image-holder{
      grid-area: right;
      width: 0;
      height: 0; 
    }
     .crew-image{
      position: absolute;
      height: 80%;
      left: 30%;
      bottom: 0;
      z-index: -10;
     }
     .techno-image{
      position: absolute;
      height: 70%;
      left: 30%;
      bottom: 10%;
      z-index: -10;

     }
     .crew-info-holder{
      grid-area: left;
      justify-self: start;
      width: 50%;
      padding: 1rem;
     }
    .person-info{
      padding: 0;
    }
    .person-detail-info{
      grid-area: top;
      text-align: start;
      height: 300px;
      align-content: end;
    }
    .slider-btn-holder{
      grid-area: bottom;
      justify-self: start;
      margin-top: 1.5rem;
    }
  
    /* fourth page style */
    .techno-image{
      grid-area: right;
    }
    .technology-info-holder{
      grid-area: left;
      display: grid;
      grid-template-areas: "nav title" 
                           "nav  article";
    }
    .techno-btn-holder{
      grid-area: nav;
      align-self: center;
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }
   
   
    .title{
      grid-area: title;
    }
    .techno-par{
      grid-area: article;
      text-align: start;
      padding-left: 3rem;
    }
    .techno-info{
      width: 70%;
      grid-area: article;
      letter-spacing: 2px;
      line-height: 2rem;
  
    }
    
    
    
}

