*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(./assets/images/home/background-home-desktop.jpg);
    background-repeat: no-repeat;
    width: 100vw;
    min-height: 100vh;
}
ul{
    list-style: none;
}
a{
     text-decoration: none;
}
.home-page-header{
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding-top:0.5rem;
   }
   /* homepage link style */
.home-page-nav > li > button{
    border: none;
    max-width: 150px;
    padding-block: 1.5rem;
    letter-spacing: 1px;
    background-color: inherit;
    color: white;
    text-align: start;
}
.nav-border{
    width: 100px;
    height: 1px;
    position: absolute;
    left: 30%;
    bottom: 0;
    height: 2px;
    width: 50%;
    border-bottom: 2px solid rgb(255, 255, 255);
    display: none;
   }
.home-page-nav > li >button:hover ~ .nav-border{
    display: block;
}
.home-page-nav > li{
    position: relative;
    display: flex;
    align-items: center;
    
    gap: .5rem;
  
    padding-inline:clamp(1rem,2vw,1.2rem);
    animation: navSlide 1s ease-in-out;
 }
 .home-page-nav{
    display: flex;
    flex-direction: column;
    margin-top: 3.5rem;
 }
 
.logo{
    width: 1rem;
    aspect-ratio: 1;
    background-image: url(./assets/images/icons/logo.svg);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    padding: 2rem;

}
/* style for mobile nav */
.open-nav,.close-nav{
    display: none;
    position: absolute;
    right: 0;
    top:3%;
   width: 2rem;
    background-color: inherit;
    transform: translateX(-10%);
    aspect-ratio: 1;
    background-repeat: no-repeat;
    background-position: center;
    
}
.open-nav{
    background-image: url(./assets/images/icons/icon-hamburger.svg);
}
.close-nav{
  background-image: url(./assets/images/icons/icon-close.svg);
}
.open-nav{
    display: block;
}
.hr-line{
    display: none;
    position: relative;
    left: 1rem;
    width: 40%;
    height: 2px;
    background-color: rgb(130, 130, 130);
}
.page-links{
    background-color: hsla(0, 2%, 47%, 0.2);
}
@keyframes navSlide{
    0%{
        opacity: 0.5;
        transform: translateX(20%);
    }
    100%{
        opacity: 1;
        transform: translateX(0%);
    }
}
/* links holder for mobile nav */
[data-nav-links="true"]{
    opacity: 1;
    display: flex;
    justify-content: center;
    color: white;
    border-radius: 0.2rem;
    padding-inline: 1rem;
   }
[data-nav-links="false"]{
    opacity: 0;
    display: none;
}
/* media query for mobile */
  /* @media (max-width:500px)  {
    .home-page-header{
        align-items: start;
    }
     .home-page-nav > li{
        position: relative;
        display: flex;
        gap: .5rem;
        align-items: center;
        padding-inline:clamp(1rem,2vw,1.2rem);
      animation: navSlide 1s ease-in-out;
     } 
   
   
   .home-page-nav{
       flex-direction: column;
       margin-top: 3.5rem;
    }
    .open-nav{
        display: block;
    }
    .hr-line{
        display: none;
    } 
} */
/* media query for tab */
@media (min-width:500px) {
    .home-page-header{
         align-items: center;
    }
    .home-page-nav{
        flex-direction: row;
        align-items: center;
        margin-top: 0;
     }
    .home-page-nav > li{
        flex-direction: row;
        align-items: center;
    }
     .open-nav{
        display: none;
    }
    .hr-line{
        display: block;
    } 
    
}

